/db.sqlite3
/env
/env3.9
/env3.11
__pycache__/
*.py[cod]
**/__pycache__/
*.scratch
*.env*
*.swp
*.swo
*.orig
*.sqlite3.*
*.env.production
django_logs
media/
package_temp
*.zip
*.tfvars
*.tfstate
*.tfstate.backup
.terraform*
.terraform/
.venv/
.uv/
.vscode/
.idea/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
dist/
build/
pip-wheel-metadata/
*.egg-info/

