aniso8601==7.0.0
asgiref==3.3.4
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.3.3
Automat==0.7.0
blessings==1.7
boto3==1.19.1
botocore==1.22.1
bpython==0.17.1
certifi==2019.3.9
channels==2.2.0
chardet==3.0.4
charset-normalizer==2.0.7
Click==7.0
colorama==0.4.1
constantly==15.1.0
curtsies==0.3.0
daphne==2.3.0
dj-database-url==0.5.0
Django==3.2.11
django-cors-headers==3.7.0
django-extensions==2.2.1
django-filter==2.4.0
django-graphql-jwt==0.3.4
django-heroku==0.3.1
django-sslserver==0.20
django-storages==1.12.2
graphene==2.1.8
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-ws==0.3.0
greenlet==0.4.15
gunicorn==20.1.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
jmespath==0.10.0
kaptan==0.5.12
libtmux==0.8.2
numpy==1.16.3
pandas==0.24.2
petl==1.2.0
Pillow==9.0.0
promise==2.3
psycopg2==2.7.7
Pygments==2.3.1
PyHamcrest==1.9.0
PyJWT==2.1.0
PyQt5==5.11.3
PyQt5_sip==4.19.13
python-dateutil==2.8.0
python-dotenv==0.17.1
pytz==2018.9
PyYAML==5.1.2
requests==2.26.0
Rx==1.6.1
s3transfer==0.5.0
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.3.0
text-unidecode==1.3
tmuxp==1.5.3
Twisted==22.1.0
txaio==18.8.1
typing==3.6.6
typing-extensions==3.10.0.0
urllib3==1.26.7
wcwidth==0.1.7
whitenoise==5.3.0
zope.interface==4.6.0
