services:
  localstack:
    container_name: localstack_main
    image: localstack/localstack:latest
    ports:
      - "127.0.0.1:4566:4566"
      - "127.0.0.1:4510-4559:4510-4559"
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
      - DEBUG=1
      - LAMBDA_EXECUTOR=docker
      - LOCALSTACK_FILE_WATCHER_STRATEGY=polling
    volumes:
      - "/run/user/1001/docker.sock:/var/run/docker.sock"
      - "./localstack_data:/var/lib/localstack"
    networks:
      - localstack-net

  keycloak:
    container_name: keycloak_main
    image: quay.io/keycloak/keycloak:latest
    command: start-dev --db=dev-file # Force file-based DB instead of in-memory
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_HOSTNAME=localhost
      - KC_HOSTNAME_STRICT=false
    volumes:
      - "./keycloak_data:/opt/keycloak/data" # Persist the actual DB files
    ports:
      - "8080:8080"
    networks:
      - localstack-net

networks:
  localstack-net:
    driver: bridge
